<h2>Athletes Account</h2>
<% if flash[:message] %>
<h3 style="color: green;"><%= flash[:message] %></h4>
<% end %>
<% if flash[:error] %>
<h3 style="color: red;"><%= flash[:error] %></h4>
<% end %>
<h3><%= @athlete.username %>'s Account</h3>
<p>
<% if logged_in? %>
<a href="/exercises">History</a>
<a href="/exercises/new">New Entry</a>
<a href="/logout">Logout</a>
<% end %>
</p>