<h2>Signup</h2>

<form action="/athletes" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" value="enter username here">

    <label for="password">Password:</label>
    <input type="text" name="password" value="enter password here">

    <input type="submit" value="Create Account">

</form>