<h2>Sign Up!</h2>
<% if flash[:message] %>
<h4><%= flash[:message] %></h4>
<% end %>
<form action="/athletes" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Name">

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Create Account">

</form>
<br>
<a href ="/login">Login</a> 