
<h2>Record Your Performance</h2>
<% if flash[:message] %>
<h4 style="color: red;"><%= flash[:message] %></h4>
<% end %>
<% if flash[:error] %>
<h4 style="color: red;"><%= flash[:error] %></h4>
<% end %>
<form action="/exercises" method="post">
    <label for="exercise">Exercise:</label>
    <input type="text" name="exercise">
    <label for="max_lift">Max Lift(lbs): </label>
    <input type="number" name="max_lift">
    <input type="submit" value="Save">    
</form>
<br>
<p>
<% if logged_in? %>
<a href="/exercises">History</a>
<a href="/logout">Logout</a>
<% end %>
</p>


