
<h2>Record Your Exercise Performance</h2>
<form action="/exercises" method="post">
    <label for="exercise">Exercise:</label>
    <input type="text" name="exercise">
    <label for="max_lift">Max Lift: </label>
    <input type="text" name="max_lift">
    <input type="submit" value="Save">
    
</form>