
<h2>Record Your Exercise Performance</h2>
<% if flash[:error] %>
<h4 style="color: red;"><%= flash[:error] %></h4>
<% end %>
<form action="/exercises" method="post">
    <label for="exercise">Exercise:</label>
    <input type="text" name="exercise">
    <label for="max_lift">Max Lift(lbs): </label>
    <input type="number" name="max_lift">
    // should I change this and the column max_lift to just weight?
    <input type="submit" value="Save">
    // add rep count using input type="number" but do I need to add a rep column to exercise table?
    
</form>
<br>
<p>
<% if logged_in? %>
<a href="/exercises">History</a>
<a href="/logout">Logout</a>
<% end %>
</p>


